.actress-detail-header
  display grid
  grid-template-columns calc(8vw + 30em) 1fr
  grid-template-areas ". headline"
  column-gap 2em

  .actress-card
    justify-self end
    transform translateY(-60%)

.actress-detail-header__headline
  grid-area headline
  display flex
  flex-direction column
  row-gap .4em

