genreClipSize = 3.5em

.genre-clip-list
  display grid
  padding .5em
  grid-gap .2em
  align-items flex-start
  justify-items flex-start
  grid-template-columns repeat(auto-fit, minmax(genreClipSize, 1fr))
  grid-auto-rows genreClipSize
  grid-auto-flow dense
  width 100%

  &--tiny
    font-size .5em

  &--large
    font-size 2em

.genre-clip
  position relative
  display inline-flex
  flex-flow row nowrap
  border-radius .5em
  background white
  cursor pointer
  overflow hidden
  bounce()
  transition all .2s ease

  &:focus
    outline none

  height genreClipSize
  min-width genreClipSize

  &--tiny
    font-size .5em

  &--large
    font-size 2em

.genre-clip__image
  object-fit cover
  height genreClipSize
  width genreClipSize
  border-radius .5em

.genre-clip--focus:not(.genre-clip--no-child),
.genre-clip--focus.genre-clip--no-child .genre-clip__image
  border-bottom 3px solid mainColor

.genre-clip--shadow
  box-shadow 0 0 6px rgba(0,0,0,.2)

.genre-clip__interaction-slot
  position absolute
  top .2em
  left .2em
  opacity 0
  visibility hidden
  color #fff
  z-index 11

.genre-clip__description-slot
  position absolute
  width genreClipSize
  height 100%
  top 0
  background rgba(0,0,0,.2)
  color white
  display flex
  align-items flex-end
  padding .2em
  font-weight bold
  opacity 0
  visibility hidden
  transition all .2s ease
  z-index 10

  &--permanent
    opacity 1
    visibility visible

.genre-clip:hover .genre-clip__interaction-slot,
.genre-clip:hover .genre-clip__description-slot
  opacity 1
  visibility visible

.genre-clip__children
  display flex
  padding .5em

  &:empty
    padding 0
