genreClipSize = 3.5em

.genre-clip-list
  display flex
  flex-flow row nowrap
  padding .5em

.genre-clip
  display flex
  flex-flow row nowrap
  border-radius .5em
  background white
  cursor pointer
  overflow hidden
  bounce()
  transition all .2s ease

  &:focus
    outline none

  & + &
    margin-left .5em

  height genreClipSize
  min-width genreClipSize
  max-width genreClipSize

  &--tiny
    font-size .5em


.genre-clip--focus,
.genre-clip:hover
  max-width genreClipSize * 5

.genre-clip__image
  object-fit cover
  height genreClipSize
  width genreClipSize
  border-radius .5em

.genre-clip--focus
  border-bottom 3px solid mainColor

.genre-clip--shadow
  box-shadow 0 0 6px rgba(0,0,0,.2)

.genre-clip__interaction-slot
  position relative
  display grid
  grid-template-rows 1fr 2fr
  height 100%
  align-items center
  p = (genreClipSize / 10)
  padding p (genreClipSize / 1.5) p p

  &:empty
    padding 0

.genre-clip__delete
  position absolute
  top .2em
  right .2em

