.genre-detail-page .container
  display grid
  grid-template-columns 33vw 1fr 1fr
  grid-template-areas "left data score" "left subgenres ."
  column-gap 2em
  row-gap 2em
  min-height 30vh

.genre-detail__card
  max-height 30em
  max-width 30vw
  border-radius .5em
  margin-bottom .5em

.genre-detail-header
  grid-area data

.genre-detail__left-bar
  grid-area left
  justify-self end
  display flex
  flex-direction column
  align-items flex-end
  position relative
  bottom 7em

.genre-data-form
  grid-area data

.add-subgenre-form
  grid-area subgenres

.genre-detail-page .data-grid
  grid-area data
  margin-top .5em

.genre-detail-page .kink-score
  grid-area score
  align-items center
  align-self flex-start
