.floating-controls
  position fixed
  bottom 0
  padding 1em
  background mainColor
  box-shadow 0 0 2em rgba(0,0,0,.1)
  right 3em
  animation popUp .5s forwards ease
  border-top-left-radius 1em
  border-top-right-radius 1em

@keyframes popUp
  from
    transform translateY(100%)
  to
    transform translateY(0)
