.kink-score
  display flex
  flex-flow column nowrap
  justify-content center
  padding .3em
  text-align center
  font-weight bold
  fontMedium()


.kink-score__score
  position relative
  display block
  fontDisplay()

.kink-score__label
  text-transform uppercase
  color mainColor

