.actress-detail-page .container
  display grid
  grid-template-columns 33vw 66vw
  grid-template-areas "left header" "left data" ". data"
  column-gap 2em
  row-gap 1em

.actress-data-grid
  grid-area data

.actress-detail__card
  margin-bottom .5em

.actress-detail__controls
  display flex
  justify-content flex-end

.actress-form
  grid-row span 3

.actress-detail-header
  grid-area header

.actress-detail__left-bar
  grid-area left
  justify-self end
  position relative
  bottom 10em

