.input
  padding 1em .5em
  border 0
  background-color #eee
  transition all .4s ease

  fontSmall()

  &:hover
    background-color #ddd
  &:focus
    outline none
    box-shadow 0 -3px 0 mainColor inset

.input--wide
  width 100%

.input--third
  width 33.3%

.input--error
  border 1px solid red

.input--display
  width 100%
  padding 1rem .5rem
  typoCaption()
  fontDisplay()
