.bubble-button
  border-radius 50%
  background #fff
  width 1.2em
  height 1.2em
  border none
  color mainColor
  font-weight bold
  font-size 3em
  cursor pointer
  align-self center
  justify-self center
  bounce()

  &:focus, & > *:focus
    outline none

  span
    position relative
    bottom 3px
    cursor pointer

  +medium()
    font-size 2em
