.bubble-button
  border-radius 50%
  background #fff
  width 1.2em
  height 1.2em
  border none
  color darken(white, 10%)
  font-weight bold
  font-size 3em
  bounce()
  cursor pointer

  &:focus
    outline none

  span
    position relative
    bottom 3px
    cursor pointer
