.home
  position relative
  padding 4em
  height 100%

.home__headline
  position absolute
  top 35%
  left 10%
  color #fff

  h1, h2
    color #fff
    cursor pointer

.home__movie-link
  position absolute
  bottom 1em
  left 1em
  opacity .3
  color white
  fontMedium()


