.actress-card-list
  display grid
  grid-template-columns repeat(auto-fit, 200px);
  grid-auto-rows 250px
  grid-gap 1em

  padding 1em 0

  &:empty
    padding 0

.actress-card
  position relative
  display flex
  flex-flow column nowrap
  border-radius .5em
  background darken(white, 10%)
  cursor pointer
  bounce()

  img
    z-index 0
    border-radius .5em
    object-fit cover
    width 100%
    height 100%

  span
    position absolute
    z-index 1
    bottom 0
    color #fff
    font-weight bold
    padding .8em

  &:hover
    .actress-card__button-slot
      visibility visible
      opacity 1

.actress-card--focus
  border-bottom 3px solid mainColor

.actress-card__button-slot
  visibility hidden
  transition opacity .2s ease
  opacity 0
  position absolute
  top 0
  right 0
  padding .2em

