.page-intro
  display flex
  width 100vw
  min-height 648px
  justify-content center
  position relative
  flex-flow column nowrap

  +large()
    min-height auto

  video
    width 1280px

    +large()
      width 100vw
