black = #333
white = #f3f3f3
grey = #ddd
mainColor = #FF094F
secondaryColor = #9E0059
green = hsla(121, 86%, 72%, 1)

mainGradient()
  linear-gradient(70deg, secondaryColor, mainColor)

hover()
  transition background-color .2s ease

  &:hover
    background-color rgba(0,0,0,.05)
