.pagination
  position fixed
  bottom 1em
  right 1em
  z-index 2000
  display grid
  grid-template-columns 1fr 1fr
  grid-gap .5em

.pagination__previous
  grid-column 1

.pagination__next
  grid-column 2
