@tailwind base;
@tailwind components;
@tailwind utilities;

.filter-grayscale {
    filter: grayscale(1);
}

.blend-multiply {
    mix-blend-mode: multiply;
}

.-z-1 {
    z-index: -1;
}

.min-h-screen\/2 {
    min-height: 50vh;
}

.scroll-snap {
    scroll-snap-type: x mandatory;
}

.snap-align-start {
    scroll-snap-align: start;
}

.snap-align-start:last-child {
    scroll-snap-align: none;
}

.scroll-px-8 {
    scroll-padding-left: 2rem;
    scroll-padding-right: 2rem;
}
