.scene-view
  position relative
  width 100%
  height 4.5em
  display grid

.scene-view__marker
  display flex
  cursor pointer
  height 100%
  transition background-color .2s ease
  border-left 2px solid mainColor
  background-color white
  filter opacity(.6)

  &:focus
    outline none

  &:last-child
    border-right 2px solid mainColor

.scene-view__marker--current
  filter opacity(1)

.scene-view__delete
  background white
  display flex
  align-items center

.scene-view__subgenres
  display flex
  flex-flow row nowrap

