.wrapper {
  video {
    object-fit: cover;
  }
}

.togglePlay {
  animation: toggle-play-grow 0.5s forwards theme("transitionTimingFunction.in-out");
}

@keyframes toggle-play-grow {
  0% {
    opacity: 0;
    scale: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    opacity: 0.75;
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(2);
  }
}
