{
  "arrowParens": "avoid",
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "all",
  "proseWrap": "always",
  "overrides": [{ "files": "*.{yaml,yml}", "options": { "singleQuote": false } }]
}
