.data-grid
  display grid
  row-gap .3em
  grid-template-columns 13em 20em

.data-grid__entry
  display contents

.data-grid__label
  font-weight bold

.data-grid__label,
.data-grid__value
  align-self center
  fontMedium()
