.genre-card-grid
  display grid
  grid-template-columns repeat(auto-fit, minmax(250px, 1fr));
  grid-gap 1em
  padding 1em

.genre-card
  position relative
  display grid
  column-gap 1em
  align-items center
  grid-template-columns 1fr 2fr
  grid-template-rows 1fr 1fr
  border-radius .5em
  background white
  cursor pointer
  bounce()

  &:hover
    .genre-card__button-slot
      visibility visible
      opacity 1

.genre-card__image
  grid-row span 2
  border-radius .5em
  max-height 100%

.genre-card__name
  font-size 1.1em
  align-self flex-end
  cursor pointer

.genre-card__category
  font-size .8em
  align-self flex-start
  cursor pointer

.genre-card__button-slot
  visibility hidden
  transition opacity .2s ease
  opacity 0
  position absolute
  top 0
  right 0
  padding .2em

.genre-card--focus
  border-bottom 3px solid mainColor

.genre-card--small
  max-width 150px
  max-height 2.5em
  column-gap .5em
