.movie-detail-page .container
  display grid
  grid-template-columns repeat(5, 1fr)
  grid-template-areas "headline headline headline headline headline"  "stats stats actresses actresses actresses" "screencaps screencaps screencaps screencaps screencaps" "table table table actions actions"
  grid-gap 2em

  .movie-metadata-table
    grid-area table
    .tablecell
      word-break break-all
      &:first-child
        width 30%


  .title-form
    grid-area headline

    .headline
      cursor pointer

  .add-actress-form
    grid-area actresses

  .screencap-strip
    grid-area screencaps

  .movie-detail-actions
    grid-area actions

.scene-form
  display grid
  grid-template-areas "bar bar bar" "input actions controls"
  grid-template-columns 1fr 3fr 1fr
  background white

.scene-view
  grid-area bar

.scene-form__actions
  grid-area actions
  display flex
  flex-flow column nowrap
  align-items flex-start
  min-height 4.5em
  background white

.scene-form__input
  grid-area input
  align-self flex-start

.scene-form__controls
  grid-area controls
  display flex
  align-items center
  justify-content center
  background white

