.movie-detail-page .container
  display grid
  grid-template-columns repeat(5, 1fr)
  grid-template-areas "headline headline headline headline headline"  "stats stats actresses actresses actresses" "screencaps screencaps screencaps screencaps screencaps" "table table table actions actions"
  grid-gap 2em

  .movie-metadata-table
    grid-area table
    .tablecell
      word-break break-all
      &:first-child
        width 30%


  .title-form
    grid-area headline

    .headline
      cursor pointer

  .add-actress-form
    grid-area actresses

  .screencap-strip
    grid-area screencaps

  .movie-detail-actions
    grid-area actions
