.scene-view
  position relative
  width 100%
  display grid
  overflow-x auto
  transition all .2s ease
  grid-gap 1em

.scene-view:not(.scene-view__hidden)
  opacity 1

.scene-view__hidden
  opacity 0

.scene-view__marker
  display flex
  position relative
  height 100%
  min-height 3.5em

.scene-view__track
  width 100%
  position relative
  display grid
  grid-template-columns repeat(100, 1fr)
  grid-auto-flow dense

  & > .genre-clip
    z-index 2

  &:before
    content: ''
    position absolute
    width 100%
    height 50%
    top 0
    border-bottom 1px dashed grey
    z-index 0

.scene-view__title
  position absolute
  top 50%
  transform translateY(-50%)
  color lightgrey
  background white
  z-index 1
  padding-right .5em

.scene-view__subgenres
  display flex
  flex-flow row nowrap
  align-self flex-end

.scene-view__single-categories
  display flex
  column-gap .5em
