/* Select */
.select
  width 100%
  height 3em
  border 0
  background-color #eee

  fontSmall()

  cursor pointer
  transition all .4s ease
  -moz-appearance none

  & + &
    margin-top .15em

  &:hover
    background-color #ddd

  option
    font-size 1em
