.container
  margin 0 auto
  padding 2em

.container--white
  background white

.container--narrow
  width 60%

  +medium()
    width 100%

.container--wide
  width 100%

.container--tall
  min-height 100%
