.container
  margin 0 auto
  padding 2em

.container--white
  background white

.container--narrow
  width 60vw

  +medium()
    width 100vw

.container--wide
  width 100vw

.container--tall
  height 100%
