.actress-data-grid
  display grid
  row-gap .3em
  grid-template-columns 13em 20em

.actress-data-grid__entry
  display contents

.actress-data-grid__label
  font-weight bold

.actress-data-grid__label,
.actress-data-grid__value
  align-self center
  fontMedium()
