bold = 700

*
  font-family 'Gudea', sans-serif

fontTiny()
  font-size .5rem

fontSmall()
  font-size .8rem

fontMedium()
  font-size 1.2rem

  +medium()
    font-size 1rem

fontLarge()
  font-size 1.5rem

fontXLarge()
  font-size 2rem

fontDisplay()
  font-size 3rem

  +medium()
    font-size 1.5rem

typoCaption()
  font-family 'Pacifico', cursive
  color mainColor
  font-weight bold
