name: CI
on:
  push:
    branches:
      - "**"
    tags-ignore:
      - v*

jobs:
  ci:
    runs-on: ubuntu-latest
    env:
      CI: true

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: 12.x

      - name: Set yarn cache dir
        id: yarn-cache
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - name: Yarn cache
        uses: actions/cache@v1
        with:
          path: ${{ steps.yarn-cache.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Install
        run: yarn

      - name: Generate prisma client
        run: yarn generate:prisma

      - name: Generate graphql types
        run: yarn generate:types

      - name: Compile
        run: yarn build

      - name: Lint
        run: yarn lint
